@model SitPlanner.Models.Invitee

@{
    ViewData["Title"] = "Create";
}
<script>
    function onLabelChanged() {

        if (document.getElementById("firstnamelabel").value === "") {
            document.getElementById("submitbtn").disabled = true;
            document.getElementById("error").innerHTML = "<font color=\"red\"> Please enter first name</font>";
            return;
        }
        if (document.getElementById("lastnamelabel").value === "") {
            document.getElementById("submitbtn").disabled = true;
            document.getElementById("error").innerHTML = "<font color=\"red\"> Please enter last name</font>";
            return;
        }
        if (document.getElementById("phonenumberlabel").value === "") {
            document.getElementById("submitbtn").disabled = true;
            document.getElementById("error").innerHTML = "<font color=\"red\"> Please enter phone number</font>";
            return;
        }
        var TeamDetailPostBackURL = '/Invitees/InviteeExist?firstName=' + document.getElementById("firstnamelabel").value + '&lastName=' + document.getElementById("lastnamelabel").value + '&phoneNumber=' + document.getElementById("phonenumberlabel").value;
        alert(TeamDetailPostBackURL);
        var options = { keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackURL,
            contentType: "application/json; charset=utf-8",
            data: {},
            datatype: "json",
            success: function (data) {
                if (data === "true") {
                    document.getElementById("submitbtn").disabled = true;
                    document.getElementById("error").innerHTML = "<font color=\"red\">Invitee already exists</font>";

                } else {
                    document.getElementById("submitbtn").disabled = false;
                    document.getElementById("error").innerHTML = "<font color=\"blue\">Invitee details are valid   </font>";

                }

            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });

    }
</script>

<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <h4 style="color:#F3969A">Create Invitee</h4>
    <hr />
    <label id="error"><font color="red">Please enter first name</font></label>
    <div style="color:#56CC9D" class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" onchange="onLabelChanged();" id="firstnamelabel" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" onchange="onLabelChanged();" id="lastnamelabel" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" onchange="onLabelChanged();" id="phonenumberlabel" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-contro l" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsComing" /> @Html.DisplayNameFor(model => model.IsComing)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Comment" class="control-label"></label>
                    <input asp-for="Comment" class="form-control" />
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EventId" class="control-label"></label>
                    <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" id="submitbtn" disabled="true" style="background-color: #56CC9D;" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
