.table-container-10 {
    position: absolute;
    height: 348px !important;
    width: 348px !important;
}

.position-middle-10 {
    position: absolute;
    top: 35%;
    left: 39%;
    font-size: 25px;
}

.guest-10-0 {
    position: absolute;
    top: 0%;
    left: 37%;
    font-size: 15px;
}

.guest-10-1 {
    position: absolute;
    top: 8%;
    left: 56%;
    font-size: 15px;
}

.guest-10-2 {
    position: absolute;
    top: 25%;
    left: 67%;
    font-size: 15px;
}

.guest-10-3 {
    position: absolute;
    top: 42%;
    left: 68%;
    font-size: 15px;
}

.guest-10-4 {
    position: absolute;
    top: 63%;
    left: 57%;
    font-size: 15px;
}

.guest-10-5 {
    position: absolute;
    top: 70%;
    left: 38%;
    font-size: 15px;
}

.guest-10-6 {
    position: absolute;
    top: 63%;
    left: 16%;
    font-size: 15px;
}

.guest-10-7 {
    position: absolute;
    top: 25%;
    left: 3%;
    font-size: 15px;
}

.guest-10-8 {
    position: absolute;
    top: 42%;
    left: 3%;
    font-size: 15px;
}

.guest-10-9 {
    position: absolute;
    top: 8%;
    left: 15%;
    font-size: 15px;
}

.tables-container {
    display: flex;
    width: 100%;
}

.table-container-12 {
    position: absolute;
    height: 348px !important;
    width: 348px !important;
}

.position-middle-12 {
    position: absolute;
    top: 35%;
    left: 39%;
    font-size: 25px;
}

.guest-12-0 {
    position: absolute;
    top: 0%;
    left: 47%;
    font-size: 15px;
}

.guest-12-1 {
    position: absolute;
    top: 8%;
    left: 65%;
    font-size: 15px;
}

.guest-12-2 {
    position: absolute;
    top: 27%;
    left: 70%;
    font-size: 15px;
}

.guest-12-3 {
    position: absolute;
    top: 45%;
    left: 70%;
    font-size: 15px;
}

.guest-12-4 {
    position: absolute;
    top: 65%;
    left: 62%;
    font-size: 15px;
}

.guest-12-5 {
    position: absolute;
    top: 70%;
    left: 33%;
    font-size: 15px;
}

.guest-12-6 {
    position: absolute;
    top: 63%;
    left: 10%;
    font-size: 15px;
}

.guest-12-7 {
    position: absolute;
    top: 25%;
    left: 0%;
    font-size: 15px;
}

.guest-12-8 {
    position: absolute;
    top: 42%;
    left: 0%;
    font-size: 15px;
}

.guest-12-9 {
    position: absolute;
    top: 8%;
    left: 10%;
    font-size: 15px;
}
.guest-12-10 {
    position: absolute;
    top: 70%;
    left: 47%;
    font-size: 15px;
}

.guest-12-11 {
    position: absolute;
    top: 0%;
    left: 35%;
    font-size: 15px;
}

.tables-container {
    display: flex;
    width: 100%;
}
        