@model SitPlanner.Models.Table

@{
    ViewData["Title"] = "Create";
}

<div>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <h4 style="color:#F3969A">Create Table</h4>
    <hr />
    <div style="color:#56CC9D">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   <div class="form-group">
                        <label asp-for="CapacityOfPeople" class="control-label"></label>
                        <select asp-for="CapacityOfPeople" class="form-control">
                            <option selected="selected" value="10">10</option>
                            <option value="12">12</option>
                            <option value="16">16</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinCapacityOfPeople" class="control-label"></label>
                        <input asp-for="MinCapacityOfPeople" class="form-control" />
                        <span asp-validation-for="MinCapacityOfPeople" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TableType" class="control-label"></label>
                        <select asp-for="TableType" class="form-control" asp-items="ViewBag.EnumList as SelectList"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventId" class="control-label"></label>
                        <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" style="background-color: #56CC9D;" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
    </>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

