@model SitPlanner.Models.Event

@{
    ViewData["Title"] = "Details";
}
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <h4 style="color:#F3969A">Enjoy seating your event!</h4>
    <hr />
    @*<dl style="color:#56CC9D" class="d-lg-flex">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>*@
    <div>
        <a asp-controller="Invitees"
           asp-action="Index">Go to your invitees list</a>
        <br />
        
        <br />
        @*<a asp-action="Invitees.Index">Go to your guests list</a>*@
    </div>
</div>
    
