@{
    ViewData["Title"] = "Home Page";
}
<center>
    <div id="logo1" class="row fadeIn" style="display:table-cell; vertical-align:middle; text-align:center">
        <img src="~/images/seatme_site.png" />
    </div>
    <p style="font-size:30px; font-family: Times;">
        <a asp-action="Create">Create New Event</a>
        &nbsp;
    |
        &nbsp;
        <a asp-action="Create">Existing Event</a>
    </p>
</center>
<script>
	$('#logo1').fadeIn(1000);
</script>
