@model SitPlanner.Models.PersonalRestriction

@{
    ViewData["Title"] = "Edit";
}

<div style="font-family: cursive">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <h4 style="color:#F3969A">Edit Personal Restriction</h4>
    <hr />
    <div style="color:#56CC9D" class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="MainInviteeId" class="control-label"></label>
                    <select asp-for="MainInviteeId" class="form-control" asp-items="ViewBag.MainInviteeId"></select>
                    <span asp-validation-for="MainInviteeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondaryInviteeId" class="control-label"></label>
                    <select asp-for="SecondaryInviteeId" class="form-control" asp-items="ViewBag.SecondaryInviteeId"></select>
                    <span asp-validation-for="SecondaryInviteeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsSittingTogether" /> @Html.DisplayNameFor(model => model.IsSittingTogether)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EventId" class="control-label"></label>
                    <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                    <span asp-validation-for="EventId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" style="background-color: #F3969A; font-family: cursive" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
