<!DOCTYPE html>
<style>
    h2 {
        font-family: "Comic Sans MS", Times, serif;
        font-size: 45px;
    }

    .userError {
        font-family: "Comic Sans MS", Times, serif;
        font-size: 15px;
    }
</style>
<html>
<head>
    @{
        ViewData["Title"] = "Nothing to see here!";
    }
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <br />
    <p class="userError">
        You tried to perform an invalid action.
        <br />
        If it happens again please contact us at Support@seatme.com
        <br />

</body>
</html>