@model SitPlanner.Models.InviteeTable

@{
    ViewData["Title"] = "Create";
}

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <h4 style="color:#F3969A">Create InviteeTable</h4>
    <hr />
    <div style="color:#56CC9D" >
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="InviteeId" class="control-label"></label>
                        <select asp-for="InviteeId" class="form-control" asp-items="ViewBag.InviteeId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="TableId" class="control-label"></label>
                        <select asp-for="TableId" class="form-control" asp-items="ViewBag.TableId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventOptionId" class="control-label"></label>
                        <select asp-for="EventOptionId" class="form-control" asp-items="ViewBag.EventOptionId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventId" class="control-label"></label>
                        <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" style="background-color: #56CC9D;" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
