@model SitPlanner.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <h4 style="color:#F3969A">Category Details</h4>
    <hr />
    <dl style="color:#56CC9D" class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
    </dl>
</div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>